@import url("reset.css");


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");
@import url("/css/fonts.css");


/*                                                     Хедер                                    */
.header {
   background-color: #00e1ff;
   /* margin: 0 auto; */
   font-family: "Ubuntu", sans-serif;
   border: 10px solid #e9d309;
   outline: 4px dashed rebeccapurple;
   margin: 4px;
   box-shadow: 3.5px 4.4px 3px rgba(31, 22, 22, 0.065),
      8.5px 10.6px 7.1px rgba(0, 0, 0, 0.093),
      16px 19.9px 13.4px rgba(0, 0, 0, 0.115),
      28.6px 35.5px 23.9px rgba(0, 0, 0, 0.137),
      53.5px 66.4px 44.7px rgba(0, 0, 0, 0.165),
      128px 159px 107px rgba(0, 0, 0, 0.23);

}

.title-header {
   background-color: #40DDB6;
   text-align: center;
   font-weight: 700;
   font-size: 59px;
   border: 5px solid #D58417;
   box-shadow: inset 7px 5px 10px red;
   text-shadow: 5px 5px 10px goldenrod;
}

.header-list {
   display: inline-block;
   font-weight: 500;
   font-size: 39px;
   padding-left: 250px;
   border: 5px solid #8A33FD;
}

.some-figure {

   display: inline-block;
   border: 56px solid rgb(0, 255, 0);
   border-radius: 25% 63% 37% / 100% 0% 100% 0%;
   margin: 0px 10px;
}

.header-list li {
   border: 3px dotted #606060;
   border-radius: 25%;
   background-color: rgba(93, 36, 104, 0.986);
   list-style: disc;
   

}

.some-photo {
   max-width: 150px;
   border: 2px dashed;
   border-radius: 15%;
   padding: 10px 9px 0px 0px;

}

.some-photo img {
   margin: 0px 0px 10px 9px;

}

/*                                                 Футтер                                                     */
.footer {
   margin: 0 auto;
   background-color: #03b8e6;
   font-family: "Ubuntu", sans-serif;
   padding-bottom: 5px;
   border: 1px solid #000;
   box-shadow: inset 0px 0px 15px 1px rgb(87, 81, 81);


}

.thxforwathing {
   font-size: 25px;
   text-align: center;
   font-weight: 700;

}

.toup {
   font-weight: 500;
   text-align: right;
   font-size: 20px;
   text-decoration: underline;
}

/*                                       частина 1                            */

.licencing {
   max-height: 1045px;
   max-width: 1218px;
   margin: 0 auto;
   margin-top: 152px;
   margin-bottom: 150px;

}

.block1 {
   text-align: center;
   margin-bottom: 70px;
}

.border-test {
   width: 12px;
   height: 12px;
   background-color: #40DDB6;
   display: inline-block;
}

.test {
   display: inline-block;
   font-family: "Inter", sans-serif;
   font-size: 18px;
   color: #37393F;
   margin-bottom: 16px;
   font-weight: 500;

}

.block1 h2 {
   color: #37393F;
   font-family: "Poppins", sans-serif;
   font-size: 60px;
   font-weight: 700;
   line-height: 1.21;
}

.content {
   color: #7D7D7D;
   font-family: "Inter", sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.46;
}

.content-title {
   color: #37393F;
   font-family: "Poppins", sans-serif;
   font-size: 40px;
   font-weight: 700;
   line-height: 1.21;
   margin-bottom: 11px;
}

.content p {
   margin-bottom: 32px;
}

.content-sub-title {
   color: #37393F;
   font-family: "Poppins", sans-serif;
   font-size: 30px;
   font-weight: 700;
   margin-bottom: 100px;


}

.span-color {
   color: #40DDB6;
}

/* .content-two {} */

.content-two-title {
   color: #37393F;
   font-family: "Poppins", sans-serif;
   font-size: 30px;
   font-weight: 700;
   margin-bottom: 8px;
}

.pexels-content {
   color: #40DDB6;
   font-family: "Inter", sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.46;
   margin-bottom: 24px;
}

.fonts {
   color: #40DDB6;
   font-family: "Inter", sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.46;
}


/* --------------------------------------------------друга частина ---------------------------------------- */

.project-information {
   max-width: 830px;
   max-height: 858px;
   margin: 0 auto;
   font-family: "Inter", sans-serif;
   color: #7D7D7D;
   font-size: 18px;
   font-weight: 1.46;
   margin-bottom: 150px;
}

.project-title {
   color: #37393F;
   font-family: "Poppins", sans-serif;
   font-size: 40px;
   font-weight: 700;
   line-height: 1.27;
   margin-bottom: 13px;
}

.project-content-1 {
   margin-bottom: 35px;
}

.project-content-2 {
   font-weight: 500;
   padding-left: 44px;
}


.list li {
   list-style: inherit;
   margin-bottom: 35px;
}

.project-content-3 {
   margin-bottom: 35px;
}

.prject-content-4 {
   font-weight: 500;
   margin-bottom: 35px;
}

.list-two {
   list-style: none;
   padding-left: 16px;
}

.prject-content-4 li {
   margin-bottom: 35px;
}

.project-content-5 {
   margin-bottom: 100px;
}

/*----------------------------- третя частина домашки--------------------------------- */




.clothing {
   max-width: 1240px;
   max-height: 636px;
   margin: 0 auto;
   padding: 0px 50px;
}

.decor {
   border-radius: 10px;
   background: #8A33FD;
   width: 6px;
   height: 28px;
   display: inline-block;
   margin-right: 15px;
}

.clothing-title {
   display: inline-block;
   font-family: "CoreSansC", sans-serif;
   color: #3C4242;
   font-size: 28px;
   font-weight: 600;
   line-height: 33.5px;
   letter-spacing: 0.56px;
   margin-bottom: 30px;

}

.clothing-sub-title {
   color: #807D7E;
   font-family: "CoreSansC", sans-serif;
   font-size: 20px;
   font-weight: 600;
   line-height: 33.5px;
   letter-spacing: 0.4px;
   margin-bottom: 25px;
}

.clothing-content-1 {
   font-family: "Causten", sans-serif;
   color: #807D7E;
   font-size: 20px;
   font-style: normal;
   line-height: 33.5px;
   letter-spacing: 0.4px;
   margin-bottom: 20px;


}

.clothing-span {
   color: #807D7E;
   font-family: "Causten", sans-serif;
   font-size: 20px;
   font-weight: 700;
   line-height: 33.5px;
   letter-spacing: 0.4px;
}

.clothing-content-2 {
   color: #807D7E;
   font-family: "Causten", sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 33.5px;
   letter-spacing: 0.4px;
   margin-bottom: 25px;

}

.clothing-content-3 {
   color: #807D7E;
   font-family: "Causten", sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 33.5px;
   letter-spacing: 0.4px;
   margin-bottom: 20px;
}

.clothing-content-4 {
   color: #807D7E;
   font-family: "Causten", sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 33.5px;
   letter-spacing: 0.4px;
   margin-bottom: 20px;
}

.more-info {
   color: #807D7E;
   font-family: "CoreSansC", sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 33.5px;
   letter-spacing: 0.4px;
}

/*        ------------------------       четверта частина домашки--------------------------- */
.jewellery {
   max-width: 1114px;
   margin: 0 auto;
   margin-top: 150px;

}

.jewe-text-block {
   display: inline-block;
   max-width: 503px;
   margin-right: 75px;
}

.what-we-do {
   color: #D58417;
   font-family: "Cormorant Infant", sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.00;
   margin-bottom: 27px;
   width: 128px;

}

.castom-jewels {
   color: #000;
   font-family: "Cormorant Infant", sans-serif;
   font-size: 64px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.00;
   margin-bottom: 31px;
   width: 503px;
}

.jewe-content-1 {
   color: #606060;
   font-family: "Cormorant Infant", sans-serif;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.40;
   width: 489px;
}

.jewe-img-block {
   display: inline-block;
   vertical-align: top;
}



.img1 {

   display: inline-block;
   vertical-align: middle;
   margin-right: 30px;
   border-radius: 235px;
   border: 1px solid #502203;
   padding: 14px 10px 0px 0px;
}

.img1 img {
   margin: 0px 0px -14px -10px;
}

.img2 {
   display: inline-block;
   vertical-align: middle;
   border: 1px solid #502203;
   border-radius: 235px;
   padding: 19px 11px 0px 0px;

}

.img2 img {
   margin: 0px 0px -13px -10px;
}